body{
    font-family: 'Lato', sans-serif;
    color: #414042;

}

/* HEADER START */

header{
    float: left;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #07070730;
}
.navbar-toggler{
    border:1px solid #fff;
    color: #fff !important;
    cursor: pointer;
}
.navbar-expand-lg .navbar-nav .nav-link{
    padding-left: 0rem ;
    padding-right: 0rem ;
    padding-top: 2.5rem ;
    padding-bottom: 2.5rem ;
    border-top:2px solid transparent;
    text-transform: uppercase;
    font-size: 13px;

}
.nav-item{
    padding-left: 1rem ;
    padding-right: 1rem ;
}
.navbar-expand-lg .navbar-nav .nav-link:hover{
    border-top:2px solid #4bcaff;
    color: #4bcaff;
}
.navbar{
    padding: 0;
}
.navbar-toggler .fa-bars{
    font-size: 18px;
    cursor: pointer;
}
.navbar-custom .navbar-nav .nav-link{
    color: #fff;
}
/* HEADER END */

/* Home Background */
.background-top{
    float: left;
    width: 100%;
    background-image: url(../images/bgtop.png);
    background-size: 100% 100%;
}
.home-text{
    padding-top: 24rem;
    padding-bottom: 10rem;
    color: #fff;
}
.home-text h1{
    font-size: 48px;
}
.home-text p{
    font-size: 18px;
}
.btn-down{
    width: 200px;
    height: 65px;
    text-align: center;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    margin: 3rem 0;
}
.btn-down:hover{
    border:4px solid transparent;
    border-bottom: 4px solid #277697; 
    background: #4bcaff;
}
.fa-android,
.fa-apple{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #171a1f;
    text-align: center;
    font-size: 24px !important;
    padding: 10px 0;
    margin-left: 20px;
}
.fa-apple{
    padding: 13px 0; 
}
.fa-android:hover,
.fa-apple:hover{
    color:#4bcaff;
    cursor: pointer;
}


/* Home Background */


/*  summarise the features start  */

.summarise{
    float: left;
    width: 100%;
    text-align: center;
    padding: 50px 0;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e7e7e7;
}
.summarise h1{
    margin-bottom: 0;
    color: #414042;
    font-size: 36px;
    font-weight: bolder
}
.summarise p{
    font-weight: 300;
    color: #414042;
    font-size: 20px;
    margin-bottom: 50px;
}
.icon-summarise{
    width: 180px;
    height: 180px;
    margin: auto;
    text-align: center;
    background-color: #4bcaff;
    border-radius: 100%;
    line-height: 11;
}
/* .icon-summarise:hover{
    background-color: #414042;
    cursor: pointer;
} */
.main-summarise:hover .icon-summarise{

    background-color: #414042;
    cursor: pointer;
}
.main-summarise:hover  h6 {
    color: #4bcaff;
}

.main-summarise{
    text-align: center;
}
.main-summarise h6{
    margin-top: 20px;
    font-size: 15px;
    color: #414042;
    text-transform: uppercase;
}
.main-summarise p{
    font-size: 13px;
    color: #414042;;
}
/*  summarise the features  end */



/* show the gallery Start */

.gallery{
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px 0;

}
.gallery h1{
    margin-bottom: 0;
    color: #414042;
    font-size: 36px;
    font-weight: bolder
}
.gallery p{
    font-weight: 300;
    color: #414042;
    font-size: 20px;
    margin-bottom: 50px;
}
.screenshoot p{
    font-size: 13px;
    margin-top: 20px;
}
.screenshoot-img{
    position: relative;
}
.screenshoot-img img:hover{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: #414042;
    width: 100%;
    height: 100%;
}
.screenshoot-img .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    text-align: center;
    color: #4bcaff;
    background-color: #41404265;
    text-transform: uppercase;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 7px 0;
}
.overlay-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #4bcaff65;
  }
  
  .screenshoot-img:hover .overlay-bg {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 45%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

/* show the gallery end */

/* video-landing */
.video-landing{
    width: 100%;
    float: left;
    background-image: url(../images/bg-2.png);
    background-size: 100% 100%;
    padding: 150px 0;
    position: relative;
}
.video-overlay{
    text-align: center;
}
.video-overlay img{
    padding-bottom: 25px;
    cursor: pointer;
}
.video-overlay h1{
    color: #fff;
    font-size: 48px;
}
.video-overlay h1 span{
    font-weight: 300;
}
.video-overlay p{
    color: #fff;
    font-size: 18px;
    padding: 0 100px;
}
/* video end */

/* choose your price start */

.price{
    float: left;
    width: 100%;
    text-align: center;
    padding: 50px 0;

}
.price h1{
    margin-bottom: 0;
    color: #414042;
    font-size: 36px;
    font-weight: bolder
}
.price p{
    font-weight: 300;
    color: #414042;
    font-size: 20px;
    margin-bottom: 50px;
}
.basic{
    border:1px solid #dad7d7;
    padding: 20px 0;
    margin: 20px 0;
    border-radius: 5px;
    max-width: 300px;
    margin-left: auto;
}
.basic p:first-child{
    text-transform: uppercase;
}
.basic p{
    margin: 20px 0;
    color: #e0e0e0;
    font-weight: bold;
}
.basic div{
    padding: 0px;
    font-size: 85px;
    color: #fff;
    background-color: #91c46b;
    font-weight: bolder;
}
.basic button{
    padding:8px 45px;
    background: #91c46b;
    border: 0;
    color: #fff;
    cursor: pointer;
}
.professional{
    border:1px solid #dad7d7;
    padding: 40px 0;
    border-radius: 5px;
    max-width: 375px;
    margin: auto;
}
.professional p:first-child{
    text-transform: uppercase;
}
.professional p{
    margin: 20px 0;
    color: #4bcaff;
    font-weight: bold;
}
.professional div{
    padding: 0px;
    font-size: 85px;
    color: #fff;
    background-color: #4bcaff;
    font-weight: bolder;
}
.professional button{
    padding:8px 45px;
    background: #4bcaff;
    border: 0;
    color: #fff;
    cursor: pointer;
}


.advance{
    border:1px solid #dad7d7;
    padding: 20px 0;
    margin-top: 20px;
    border-radius: 5px;
    max-width: 300px;
}
.advance p:first-child{
    text-transform: uppercase;
}
.advance p{
    margin: 20px 0;
    color: #e0e0e0;
    font-weight: bold;
}
.advance div{
    padding: 0px;
    font-size: 85px;
    color: #fff;
    background-color: #fd7c00;
    font-weight: bolder;
}
.advance button{
    padding:8px 45px;
    background: #fd7c00;
    border: 0;
    color: #fff;
    cursor: pointer;
}

/* Price End */


.testimonials{
    float: left;
    width: 100%;
    padding: 50px 0 100px 0;
    background-color: #f9f9f9;
    border-top:1px solid #dad7d7;

}
.testimonials h1{
    margin-bottom: 0;
    color: #414042;
    font-size: 36px;
    font-weight: bolder;
    text-align: center;
}
.testimonials p{
    color: #4bcaff;
    font-size: 14px;
}
.carousel-indicators li{
    height: 5px;
    width: 50px;
    background-color: #4bcaff50;
    cursor: pointer;
}
.carousel-indicators .active {
    background-color: #4bcaff;
}



/* like start */

.like{
    width: 100%;
    float:left;
    padding: 20px 0;
    background-color: #414042;
}
.like h1{
    color: #fff;
    font-size: 45px;
}


/* like End */


.contact{
    width: 100%;
    float:left;
    background-image: url(../images/map.png);
    background-size: 100% 100%;
}
.contact-us{
    float: left;
    width: 100%;
    background-color:#4bcaff90; 
    padding:30px 20px;
    margin: 100px 0;
    border-radius: 5px;
}
.contact-us h1{
    color: #fff;
}
.btn-send{
    background-color: #414042;
    width: 180px;
    height: 50px;
    text-align: center;
    border: 2px solid #414042;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
.btn-send:hover{
    border:4px solid transparent;
    border-bottom: 4px solid #313032; 
    color: #4bcaff;
}

/* Footer STart */

footer{
    float: left;
    width: 100%;
    background-color: #414042;
    padding: 30px 0;
}
footer p{
    color: #fff;
    margin: 0;
}
@media (max-width: 500px){
    /* HOME START */
    .video-landing {
        padding: 20px 0;
    }
    .video-landing p{
        padding: 0px 10px;
    }
    .video-landing h1{
        font-size: 30px;
    }
    .home-text p {
        font-size: 14px;
    }
    .home-text h1{
        font-size: 30px;
    }
    .btn-down {
        width: 140px;
        height: 36px;
        border-radius: 5px;
        font-size: 12px;

    }
}

@media (max-width: 991px){

    header{

        background-color: #070707;
    }
    .btn-down {
        margin: 0.5rem 0;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 0rem;
        padding-right: 0rem;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;
        border-top: 2px solid transparent;
        text-transform: uppercase;
        font-size: 15px;
    }
    .nav-item{
        text-align: center;
    }


    .professional{
        max-width: 100%;
        padding: 20px 0;
        margin: 20px 0 0 0;
    }
    .basic{
        max-width: 100%;
        margin: 20px 0 0 0;
    }
    .advance{
        max-width: 100%;
        margin: 20px 0 0 0;
    }
    .home-text {
        padding-top: 6rem;
        padding-bottom: 3rem;
        color: #fff;
    }
}